/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  height: 100vh;
}

.four {
  height: 100%;
  border: 1px solid black;
  overflow: auto;
}

.eight {
  margin: 1px;
}

.authentication {
  margin: auto;
  width: 50%;
}

.textbox {
  height: 20%;
  width: 100%;
  background-color: aqua;
  position: fixed;
  bottom: 0;
}
.conversation-div {
  word-wrap: break-word;
}

.conversations {
  list-style-type: none;
  box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.5);
  padding: 10px;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
}

.conversations:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out 0.2s;
  color: rgb(83, 83, 83);
}

/* .postSubmit {
  bottom: 0;
  position: fixed;
} */
